toxic_comments/roberta-base/
.DS_Store
__pycache__
.idea/*
text_summarization/output/*
question_answering/t5QA/input/*
entity_recognition/input/*
question_answering/t5QA/output/*
question_answering/DistilBERTQA/output/*
question_answering/DistilBERTQA/input/*
multimodal/data
text_generation/data/*
