toxic_comments/competition_models/*
Regression_Modeling/LSTM/saved_models/*
toxic_comments/roberta-base/

toxic_comments/Exotic_Models/LSTM/embeddings/*


toxic_comments/FastText.model
toxic_comments/FastText.model.wv.vectors_ngrams.npy


.DS_Store
__pycache__
.idea/*
text_summarization/output/*
question_answering/t5QA/input/*
entity_recognition/input/*
question_answering/t5QA/output/*
question_answering/DistilBERTQA/output/*
question_answering/DistilBERTQA/input/*
multimodal/data
text_generation/data/*
Regression_Modeling/LSTM/saved_models/
